Import potrzebnych bibliotek

In [1]:
import pandas as pd
import pymssql
from pandas import ExcelWriter
import numpy as np
import xlsxwriter

Łączenie z bazą danych

In [2]:
conn = pymssql.connect(server='mssql-2016.labs.wmi.amu.edu.pl', database='dbad_kol_skoki_narciarskie')

Wysłanie odpowiednich zapytań do bazy danych za pomocą standardowych zapytań SQL przy pomocy biblioteki pandas

In [3]:
data_1 = pd.read_sql_query("SELECT p.miejsce, z.nazwisko_i_imie, p.wynik_I_serii, p.wynik_II_serii, p.nota, za.nazwa_skoczni, za.data_zawodow FROM Puchar P JOIN Zawodnicy Z ON Z.id_zawodnika = P.zawodnik JOIN Zawody Za ON P.zawody = Za.id_zawodow", conn)
data_2 = pd.read_sql_query("SELECT nazwa_skoczni, sezon, count(*) [ile zawodów] FROM Zawody GROUP BY nazwa_skoczni, sezon", conn)
data_3 = pd.read_sql_query("SELECT panstwo, nazwisko_i_imie, count(*) [ile zawodników] FROM Zawodnicy GROUP BY panstwo, nazwisko_i_imie", conn)

Zmiana nazw kolumn

In [4]:
data_1.columns = ['Miejsce', 'Nazwisko i imię', 'Wynik I serii', 'Wynik II serii', 'Nota', 'Nazwa skoczni', 'Data zawodów']
data_2.columns = ['Nazwa skoczni', 'Sezon', 'Liczba zawodów']
data_3.columns = ['Państwo', 'Nazwisko i imię', 'Liczba zawodników']

Wyświetlenie wyniku pierwszego zapytania

In [5]:
data_1

,Miejsce,Nazwisko i imię,Wynik I serii,Wynik II serii,Nota,Nazwa skoczni,Data zawodów
0,1,SCHMITT Martin,128.0,118.5,244.2,Kuopio,2000-11-24
1,2,HANNAWALD Sven,120.0,116.5,222.2,Kuopio,2000-11-24
2,3,WIDHOELZL Andreas,116.0,117.5,213.8,Kuopio,2000-11-24
3,4,HAUTAMAEKI Matti,109.0,121.5,213.4,Kuopio,2000-11-24
4,5,INGEBRIGTSEN Tommy,115.5,116.5,210.6,Kuopio,2000-11-24
5,6,LINDSTROEM Veli-Matti,118.5,110.0,210.3,Kuopio,2000-11-24
6,7,RADELJ Jure,118.0,107.0,201.0,Kuopio,2000-11-24
7,8,CECON Roberto,114.0,110.5,199.1,Kuopio,2000-11-24
8,9,YOSHIOKA Kazuya,108.5,116.5,197.5,Kuopio,2000-11-24
9,10,KANTEE Ville,110.5,112.5,196.4,Kuopio,2000-11-24
10,11,SOININEN Jani,111.5,110.5,196.1,Kuopio,2000-11-24
11,12,LOITZL Wolfgang,113.5,108.5,194.6,Kuopio,2000-11-24
12,13,KOCH Martin,115.5,107.5,193.9,Kuopio,2000-11-24
13,14,OKABE Takanobu,110.5,105.5,186.8,Kuopio,2000-11-24
14,15,HUUSKONEN Lassi,114.5,103.5,186.4,Kuopio,2000-11-24
15,16,SOLEM Morten,108.0,111.0,185.7,Kuopio,2000-11-24
16,17,AHONEN Janne,110.0,105.0,183.0,Kuopio,2000-11-24
17,18,MUNTERS Johan,109.0,106.0,180.0,Kuopio,2000-11-24
18,19,FUNAKI Kazuyoshi,110.0,101.5,179.2,Kuopio,2000-11-24
19,20,NIEMINEN Toni,118.0,95.5,178.8,Kuopio,2000-11-24
20,21,FUKITA Yukitaka,107.5,105.0,176.0,Kuopio,2000-11-24
21,22,KOBELEV Valery,109.5,103.5,175.9,Kuopio,2000-11-24
22,23,DUFFNER Christof,110.5,104.0,175.6,Kuopio,2000-11-24
23,24,JUSSILAINEN Risto,112.0,100.5,175.0,Kuopio,2000-11-24
24,25,HAUTAMAEKI Jussi,105.5,106.0,174.7,Kuopio,2000-11-24
25,26,SKUPIEN Wojciech,106.0,107.0,174.4,Kuopio,2000-11-24
26,27,GOLDBERGER Andreas,109.5,96.5,165.3,Kuopio,2000-11-24
27,28,DOENNEM Olav Magne,106.5,93.0,144.1,Kuopio,2000-11-24
28,29,DESSUM Nicolas,108.5,88.0,141.2,Kuopio,2000-11-24
29,1,HAUTAMAEKI Matti,119.5,0.0,111.1,Kuopio,2000-12-02
...,...,...,...,...,...,...,...
7238,1,AMMANN Simon,135.5,124.5,267.7,Oslo,2010-03-14
7239,2,MALYSZ Adam,128.5,136.5,258.7,Oslo,2010-03-14
7240,3,KOFLER Andreas,139.5,116.0,251.5,Oslo,2010-03-14
7241,4,ZAUNER David,134.0,126.0,251.4,Oslo,2010-03-14
7242,5,MORGENSTERN Thomas,130.0,118.5,246.8,Oslo,2010-03-14
7243,6,KOCH Martin,134.0,123.5,245.1,Oslo,2010-03-14
7244,7,ROMOEREN Bjoern-Einar,137.0,121.5,244.2,Oslo,2010-03-14
7245,8,HAJEK Antonin,125.5,133.5,242.1,Oslo,2010-03-14
7246,9,LOITZL Wolfgang,124.0,128.5,241.2,Oslo,2010-03-14
7247,10,FETTNER Manuel,126.0,137.0,240.6,Oslo,2010-03-14
7248,11,BARDAL Anders,130.5,131.5,240.5,Oslo,2010-03-14
7249,12,SCHLIERENZAUER Gregor,125.5,119.5,237.1,Oslo,2010-03-14
7250,13,JANDA Jakub,122.0,133.5,236.0,Oslo,2010-03-14
7251,14,PREVC Peter,127.5,129.5,233.9,Oslo,2010-03-14
7252,15,JACOBSEN Anders,130.5,116.5,233.0,Oslo,2010-03-14
7253,16,KEITURI Kalle,132.5,117.5,226.9,Oslo,2010-03-14
7254,17,KRANJEC Robert,135.0,112.0,226.8,Oslo,2010-03-14
7255,18,HILDE Tom,119.5,126.0,224.4,Oslo,2010-03-14
7256,19,KASAI Noriaki,122.5,126.5,224.0,Oslo,2010-03-14
7257,20,OLLI Harri,128.5,117.5,222.2,Oslo,2010-03-14
7258,21,CHEDAL Emmanuel,123.0,125.5,221.4,Oslo,2010-03-14
7259,22,STOCH Kamil,123.0,122.0,216.4,Oslo,2010-03-14
7260,23,ITO Daiki,124.0,119.5,214.9,Oslo,2010-03-14
7261,24,DAMJAN Jernej,128.5,110.0,211.0,Oslo,2010-03-14
7262,25,HAUTAMAEKI Matti,121.5,116.5,202.9,Oslo,2010-03-14
7263,26,HULA Stefan,123.5,117.5,200.9,Oslo,2010-03-14
7264,27,COLLOREDO Sebastian,129.5,110.0,200.3,Oslo,2010-03-14
7265,28,RUTKOWSKI Lukasz,128.0,105.0,191.6,Oslo,2010-03-14
7266,29,ROENSEN Atle Pedersen,122.0,108.5,188.5,Oslo,2010-03-14
7267,30,STJERNEN Andreas,126.5,105.0,175.7,Oslo,2010-03-14

Wyświetlenie wyniku drugiego zapytania

In [6]:
data_2

              Nazwa skoczni      Sezon  Liczba zawodów
0             Bischofshofen  2000/2001               1
1                     Falun  2000/2001               1
2    Garmisch-Partenkirchen  2000/2001               1
3                    Hakuba  2000/2001               1
4                 Harrachov  2000/2001               2
5                 Innsbruck  2000/2001               1
6                    Kuopio  2000/2001               3
7                Oberstdorf  2000/2001               1
8         Oberstdorf (loty)  2000/2001               2
9                      Oslo  2000/2001               1
10                Park City  2000/2001               1
11                  Planica  2000/2001               1
12                  Sapporo  2000/2001               2
13                Trondheim  2000/2001               1
14                Willingen  2000/2001               2
15            Bischofshofen  2001/2002               1
16                Engelberg  2001/2002               2
17                    Falun  2001/2002               1
18   Garmisch-Partenkirchen  2001/2002               1
19                   Hakuba  2001/2002               1
20                Innsbruck  2001/2002               1
21                   Kuopio  2001/2002               2
22                    Lahti  2001/2002               1
23                 Neustadt  2001/2002               2
24               Oberstdorf  2001/2002               1
25                     Oslo  2001/2002               1
26                  Sapporo  2001/2002               1
27                Trondheim  2001/2002               1
28            Val di Fiemme  2001/2002               2
29                  Villach  2001/2002               1
..                      ...        ...             ...
140                  Kuopio  2008/2009               1
141                 Kuusamo  2008/2009               1
142                   Lahti  2008/2009               1
143             Lillehammer  2008/2009               1
144              Oberstdorf  2008/2009               1
145       Oberstdorf (loty)  2008/2009               1
146                 Planica  2008/2009               2
147               Pragelato  2008/2009               2
148                 Sapporo  2008/2009               1
149               Trondheim  2008/2009               2
150               Vikersund  2008/2009               1
151                Whistler  2008/2009               2
152               Willingen  2008/2009               1
153                Zakopane  2008/2009               2
154         Bad Mitterndorf  2009/2010               2
155           Bischofshofen  2009/2010               1
156               Engelberg  2009/2010               3
157  Garmisch-Partenkirchen  2009/2010               1
158               Innsbruck  2009/2010               1
159             Klingenthal  2009/2010               1
160                  Kuopio  2009/2010               1
161                 Kuusamo  2009/2010               1
162                   Lahti  2009/2010               1
163             Lillehammer  2009/2010               3
164              Oberstdorf  2009/2010               1
165       Oberstdorf (loty)  2009/2010               1
166                    Oslo  2009/2010               1
167                 Sapporo  2009/2010               2
168               Willingen  2009/2010               1
169                Zakopane  2009/2010               2

[170 rows x 3 columns]

Wyświetlenie wyniku trzeciego zapytania

In [7]:
data_3

        Państwo      Nazwisko i imię  Liczba zawodników
0      Norwegia       AAGHEIM Morten                  1
1      Norwegia           AARAAS Jon                  1
2     Finlandia         AHONEN Janne                  1
3           USA          ALBORN Alan                  1
4    Szwajcaria         AMMANN Simon                  1
5      Bialorus      ANISIMOV Maksim                  1
6       Szwecja         AREN Andreas                  1
7        Niemcy    AUDENRIETH Roland                  1
8        Polska      BACHLEDA Marcin                  1
9        Niemcy      BADER Ferdinand                  1
10     Norwegia        BARDAL Anders                  1
11      Austria  BAUMGARTNER Andreas                  1
12     Slowenia         BENKOVIC Rok                  1
13       Niemcy        BODMER Pascal                  1
14     Slowenia         BOGATAJ Jure                  1
15       Niemcy        BOGNER Tobias                  1
16      Ukraina   BOSHCHUK Volodymyr                  1
17       Niemcy           BRACHT Kai                  1
18     Norwegia     BRENDEN Kristian                  1
19       Niemcy     BRUDER Christian                  1
20     Norwegia         BYSTOEL Lars                  1
21       Wlochy        CECON Roberto                  1
22     Bialorus        CHAADAEV Petr                  1
23      Francja      CHEDAL Emmanuel                  1
24       Wlochy   CHIAPOLINO Stefano                  1
25        Korea      CHOI Heung-Chul                  1
26        Korea        CHOI Yong-Jik                  1
27       Czechy          CIKL Martin                  1
28       Wlochy  COLLOREDO Sebastian                  1
29     Slowenia          DAMJAN Anze                  1
..          ...                  ...                ...
214      Polska      TAJNER Tomislaw                  1
215      Polska      TAJNER Wojciech                  1
216     Japonia        TAKANO Teppei                  1
217     Japonia        TAKEUCHI Taku                  1
218  Kazachstan   TAKHTAKHUNOV Assan                  1
219    Slowenia          TEPES Jurij                  1
220     Austria  THURNBICHLER Stefan                  1
221     Japonia    TOCHIMOTO Shohhei                  1
222     Japonia          UENO Shingo                  1
223      Niemcy      UHRMANN Michael                  1
224      Niemcy      ULMER Christian                  1
225    Slowenia           URBANC Rok                  1
226    Slowenia     URH-ZUPAN Primoz                  1
227      Czechy       VACULIK Ondrej                  1
228       Rosja    VASSILIEV Dimitry                  1
229    Norwegia      VILBERG Andreas                  1
230    Slowenia        VRHOVNIK Blaz                  1
231      Niemcy         WANK Andreas                  1
232     Japonia          WATASE Yuta                  1
233     Austria    WIDHOELZL Andreas                  1
234     Japonia        YAMADA Hiroki                  1
235   Finlandia      YLIJAERVI Janne                  1
236   Finlandia      YLIRIESTO Kimmo                  1
237     Japonia      YOSHIOKA Kazuya                  1
238     Japonia      YUMOTO Fumihisa                  1
239     Austria         ZAUNER David                  1
240  Kazachstan       ZHAPAROV Radik                  1
241    Slowenia          ZONTA Peter                  1
242    Slowenia           ZUPAN Bine                  1
243      Polska           ZYLA Piotr                  1

[244 rows x 3 columns]

Utworzenie pliku programu Excel, do którego będą zapisywane wygenerowane poszczególne raporty

In [8]:
writer = ExcelWriter('project.xlsx')

Zapisywanie pierwszego raportu do arkusza o nazwie Raport_1

In [9]:
data_1.to_excel(writer, 'Raport_1', index=False)
workbook = writer.book

Utworzenie tabeli przestawnej z pierwszego raportu

In [10]:
table_1 = pd.pivot_table(data_1, index=["Nazwisko i imię"], values=["Nota"],
                              aggfunc=[np.sum], fill_value=0)
table_1

                         sum
                        Nota
Nazwisko i imię
AAGHEIM Morten         270.4
AARAAS Jon            1503.3
AHONEN Janne         44284.7
ALBORN Alan           5198.1
AMMANN Simon         43672.0
ANISIMOV Maksim        354.5
AREN Andreas           936.0
AUDENRIETH Roland     1100.9
BACHLEDA Marcin       4426.4
BADER Ferdinand        388.8
BARDAL Anders        29680.4
BAUMGARTNER Andreas    112.1
BENKOVIC Rok         11453.5
BODMER Pascal         4417.6
BOGATAJ Jure          1802.2
BOGNER Tobias          178.5
BOSHCHUK Volodymyr     405.6
BRACHT Kai             631.0
BRENDEN Kristian       556.6
BRUDER Christian       202.8
BYSTOEL Lars         18704.6
CECON Roberto         9724.9
CHAADAEV Petr           88.0
CHEDAL Emmanuel      17377.7
CHIAPOLINO Stefano     184.1
CHOI Heung-Chul       1875.8
CHOI Yong-Jik          433.6
CIKL Martin           2500.7
COLLOREDO Sebastian   7850.0
DAMJAN Anze            161.4
...                      ...
TAJNER Tomislaw        806.5
TAJNER Wojciech        290.6
TAKANO Teppei          736.0
TAKEUCHI Taku         6260.0
TAKHTAKHUNOV Assan     188.2
TEPES Jurij           1578.8
THURNBICHLER Stefan   4489.8
TOCHIMOTO Shohhei     6191.3
UENO Shingo            390.1
UHRMANN Michael      41978.0
ULMER Christian       1286.1
URBANC Rok            1349.1
URH-ZUPAN Primoz       364.6
VACULIK Ondrej        1114.0
VASSILIEV Dimitry    24170.2
VILBERG Andreas        757.0
VRHOVNIK Blaz          410.4
WANK Andreas          4238.7
WATASE Yuta           2968.5
WIDHOELZL Andreas    28943.7
YAMADA Hiroki         3472.7
YLIJAERVI Janne       1083.7
YLIRIESTO Kimmo       2102.8
YOSHIOKA Kazuya       4995.1
YUMOTO Fumihisa       4512.2
ZAUNER David          2774.8
ZHAPAROV Radik        2116.5
ZONTA Peter          16470.1
ZUPAN Bine            1377.3
ZYLA Piotr            1616.4

[244 rows x 1 columns]

Zapis pierwszej tabeli przestawnej do arkusza o nazwie Tabela_1

In [11]:
table_1.to_excel(writer, 'Tabela_1')
workbook = writer.book

Stworzenie wykresu na podstawie tabeli przestawnej nr 1

In [12]:
worksheet_2 = writer.sheets['Tabela_1']
chart_1 = workbook.add_chart({'type': 'column'})
chart_1.add_series({
    'name':       '=Tabela_1!$B$4',
    'categories': '=Tabela_1!$A$4:$A$247',
    'values':     '=Tabela_1!$B$4:$B$247',
    'fill':       {'color': 'red'},
})
chart_1.set_title ({'name': 'Suma not poszczególnych zawodników biorących udział w zawodach na przestrzeni sezonów 2000/2001 - 2009/2010'})
chart_1.set_y_axis({'name': 'Nota', 'major_gridlines': {'visible': False}})
chart_1.set_x_axis({'name': 'Nazwiska i imiona zawodników'})
chart_1.set_legend({'position': 'none'})
worksheet_2.insert_chart('E2', chart_1)

Zapisywanie drugiego raportu do arkusza o nazwie Raport_2

In [13]:
data_2.to_excel(writer, 'Raport_2', index=False)
workbook = writer.book

Utworzenie tabeli przestawnej z drugiego raportu

In [14]:
table_2 = pd.pivot_table(data_2, index=['Nazwa skoczni'], values=['Liczba zawodów'],
                              aggfunc=[np.sum], fill_value=0)
table_2

                                  sum
                       Liczba zawodów
Nazwa skoczni
Bad Mitterndorf                     8
Bischofshofen                      11
Engelberg                          17
Falun                               2
Garmisch-Partenkirchen             10
Hakuba                              4
Harrachov                           7
Innsbruck                           9
Klingenthal                         3
Kuopio                             13
Kuusamo                            12
Lahti                               9
Liberec                             5
Lillehammer                        12
Neustadt                            8
Oberstdorf                         12
Oberstdorf (loty)                   5
Oslo                               10
Park City                           2
Planica                            14
Pragelato                           3
Sapporo                            16
Trondheim                          11
Val di Fiemme                       4
Vikersund                           2
Villach                             3
Whistler                            2
Willingen                          12
Zakopane                           17

Zapis drugiej tabeli przestawnej do arkusza o nazwie Tabela_2

In [15]:
table_2.to_excel(writer, 'Tabela_2')
workbook = writer.book

Stworzenie wykresu na podstawie tabeli przestawnej nr 2

In [16]:
worksheet_4 = writer.sheets['Tabela_2']
chart_2 = workbook.add_chart({'type': 'column'})
chart_2.add_series({
    'name':       '=Tabela_2!$B$4',
    'categories': '=Tabela_2!$A$4:$A$32',
    'values':     '=Tabela_2!$B$4:$B$32',
    'fill':       {'color': 'green'},
})
chart_2.set_title ({'name': 'Liczba rozegranych zawodów na przestrzeni sezonów 2000/2001 - 2009/2010 z podziałem na skocznie'})
chart_2.set_y_axis({'name': 'Liczba zawodów', 'major_gridlines': {'visible': False}})
chart_2.set_x_axis({'name': 'Nazwy skoczni'})
chart_2.set_legend({'position': 'none'})
worksheet_4.insert_chart('E2', chart_2)

Zapisywanie trzeciego raportu do arkusza o nazwie Raport_3

In [17]:
data_3.to_excel(writer, 'Raport_3', index=False)
workbook = writer.book

Utworzenie tabeli przestawnej z trzeciego raportu

In [18]:
table_3 = pd.pivot_table(data_3, index=['Państwo'], values=['Liczba zawodników'],
                              aggfunc=[np.sum], fill_value=0)
table_3

                         sum
           Liczba zawodników
Państwo
Austria                   29
Bialorus                   2
Czechy                    14
Estonia                    2
Finlandia                 24
Francja                    7
Holandia                   2
Japonia                   24
Kanada                     1
Kazachstan                 6
Korea                      4
Niemcy                    31
Norwegia                  29
Polska                    17
Rosja                      9
Slowacja                   1
Slowenia                  20
Szwajcaria                 6
Szwecja                    5
USA                        4
Ukraina                    3
Wlochy                     5

Zapis trzeciej tabeli przestawnej do arkusza o nazwie Tabela_3

In [19]:
table_3.to_excel(writer, 'Tabela_3')
workbook = writer.book

Stworzenie wykresu na podstawie tabeli przestawnej nr 3

In [20]:
worksheet_6 = writer.sheets['Tabela_3']
chart_3 = workbook.add_chart({'type': 'column'})
chart_3.add_series({
    'name':       '=Tabela_3!$B$4',
    'categories': '=Tabela_3!$A$4:$A$25',
    'values':     '=Tabela_3!$B$4:$B$25',
    'fill':       {'color': 'blue'},
})
chart_3.set_title ({'name': 'Liczba zawodników z poszczególnych państw na przestrzeni sezonów 2000/2001 - 2009/2010'})
chart_3.set_y_axis({'name': 'Liczba zawodników', 'major_gridlines': {'visible': False}})
chart_3.set_x_axis({'name': 'Nazwy państw'})
chart_3.set_legend({'position': 'none'})
worksheet_6.insert_chart('E2', chart_3)

Zapisywanie całego programu i wysłanie ostatecznych wyników do pliku Excel

In [21]:
writer.save()